main {
	font-size:0;
}

.big_one{
	
	width: 800px;
	
	margin-right: auto;
	margin-left: auto;
	margin-top : 200px;

}

.alignthem {
text-align: center;

}



.inner_box{
	border: 1px solid black;
	display: inline-block;
}

.upper{
height: 200px;
width:50%;
}

.lower{
height: 300px;
width:33.33%;
}

.upper-green{
background-color: green;
}

.upper-blue{
background-color: blue;
}

.lower-gray{
background-color: gray;
}

.lower-black{
background-color: black;
}

.lower-orange{
background-color: orange;
}