.big_one{
	font-size : 0px;
	width: 800px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top : 200px;

}

.inner_box{
	border: 1px solid black;
}

.upper{
height: 200px;
text-align: center;
}

.lower{
height: 300px;
text-align: center;
}

.upper-{

}

.upper-2{

}

.lower-1{

}

.lower-2{

}

.lower-3{

}